* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  background-image: linear-gradient(to bottom, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
  font-family: "Dancing Script";
}

.hr {
  margin: 20px;
}

.texto {
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  padding: 0px;
}

.tortas {
  width: 300px;
}

.h1 {
  font-size: 2rem;
}

.pp {
  text-align: center;
}

.card1 {
  margin: 50px;
  padding: 20px;
  border-radius: 50px;
  border: solid 1px black;
  background-image: linear-gradient(to top, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
}

.tabla tr td, .tabla tr th, .tabla, .caja, .grid-container .card, .header .carousel-inner {
  border: solid 1px black;
}

.header {
  position: relative;
  text-align: center;
}
.header .almafoto {
  margin-top: 80px;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ebdbad;
  -webkit-box-shadow: 0px 0px 15px 15px #ebdbad;
}
.header .div1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
  padding: 10px;
  margin: auto;
  border-radius: 50px;
}
.header .div1 :hover {
  background-color: black;
  color: #ccc;
  border-radius: 30px;
  font-family: "Dancing Script";
}
.header .enlace {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  padding: 5px 10px 5px;
  font-family: "Dancing Script";
  margin: 10px;
}
.header .carousel-inner {
  height: 400px;
  border-radius: 50px;
  max-width: 100%;
}
.header .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .encabezado {
  text-align: center;
  padding: 20px;
}
.header .nav-item {
  margin: 10px;
  font-size: 2rem;
  height: auto;
  align-items: center;
  text-align: center;
}

.hamburguesa {
  border: none;
}

.galeria {
  text-align: center;
}
.galeria .imagen {
  align-items: center;
  width: 100px;
  height: auto;
  margin: 26px;
  padding: 10px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
  border-radius: 50px;
}
.galeria .imagen:hover {
  transform: scale(2.9);
}

.div2 {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 2rem;
}
.div2 .enlace {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  padding: 5px 10px 5px;
  font-family: "Dancing Script";
  margin: 10px;
}

.wasap {
  width: 75px;
}
.wasap .whatsapp-logo {
  position: fixed;
  bottom: 20px;
  right: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
  justify-content: center;
  padding: 100px;
}
.grid-container .card {
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to bottom, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
  padding: 10px;
  box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
}
.grid-container .card .card-img-top {
  border-radius: 50px;
}
.grid-container .card .card-img-top:hover {
  transform: scale(1.2);
  transition: 2s;
  background-color: #9e7909;
}
.grid-container .card .card-body .boton {
  font-size: 15px;
  color: black;
  padding: 10px;
  margin: 6px;
  border: solid 1px;
  border-radius: 50px;
  background-color: #ebdbad;
  text-decoration: none;
}

.caja {
  display: inline-block;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
  box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
}
.caja .foto {
  display: flexbox;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
}
.caja .foto-torta {
  width: 300px;
  border-radius: 50px;
}
.caja .foto-torta:hover {
  transform: scale(1.2);
  transition: 2s;
}
.caja .listap {
  text-align: center;
}
.caja .lista {
  text-align: center;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.tabla {
  width: 80%;
  border-collapse: collapse;
  position: relative;
  text-align: center;
  margin: auto;
}
.tabla tr:hover {
  background-color: #ccc;
  cursor: pointer;
}
.tabla tr th {
  background-color: grey;
  text-align: center;
}
.tabla tr td {
  padding: 5px;
}

.textonosotros {
  padding: 50px;
}

.card {
  margin: 50px;
  padding: 20px;
  border-radius: 50px;
  border: solid 1px black;
  background-image: linear-gradient(to top, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
}

.textocomocomprar {
  padding: 50px;
}

.textodevoluciones {
  justify-content: center;
  margin: 50px;
  padding: 50px;
}
.textodevoluciones .h22 {
  display: flex;
  flex-wrap: row;
  align-items: center;
  justify-content: center;
}

.card1 {
  justify-content: center;
  text-align: center;
}
.card1 .formulario {
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  padding: 0px;
}
.card1 .email1 {
  margin-right: 105px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .almafoto {
    width: 300px;
  }
  .nav-item {
    margin: 10px;
    font-size: 2rem;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .hamburguesa {
    border: none;
  }
  .carousel-inner {
    width: 100%;
    border-radius: 50px;
  }
  .carousel-inner .carousel-item.active {
    margin: 0;
    width: auto;
    height: auto;
    padding: 0;
  }
  .carousel-inner .carousel-item.active .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.grid-container .card {
  max-width: 100%;
  padding: 0px;
}

.divmenu {
  margin: 20px 25px 20px 0;
}
.divmenu .ul {
  padding-left: 0;
}

.card1 {
  margin: 0 0 0 0;
  width: 300px;
  height: auto;
}
.card1 .texto {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0;
  margin: 0%;
  width: 100%;
}
.card1 .texto .textodevoluciones {
  width: 90%;
  text-align: center;
  margin: 10px;
}

.textonosotros {
  width: 90%;
  text-align: center;
  margin: 10px;
}

.divmenu {
  margin: 20px 25px 20px 0;
}
.divmenu .ul {
  padding-left: 0;
}

.form {
  max-width: 100%;
}

.form input[type=nombre],
.form textarea {
  width: 90%;
}

.email1 {
  margin: auto;
  text-align: center;
}

.email1 input[type=email],
.email1 textarea {
  width: 200px;
  margin-left: 25px;
  box-sizing: border-box;
  text-align: center;
}

.form input[type=text],
.form textarea {
  width: 90%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#mensaje {
  width: 90%;
  max-width: 300px;
}

.form button[type=submit] {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    position: relative;
    text-align: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.nav-item {
  margin: 10px;
  font-size: 2rem;
  height: auto;
  align-items: center;
  text-align: center;
}

.hamburguesa {
  border: none;
}

.form {
  max-width: 100%;
}
.form .input[type=nombre],
.form textarea {
  width: 90px;
  margin: 10px;
}
.form .email1 {
  align-items: center;
  margin-right: 109px;
  text-align: center;
}
.form .email1 .input[type=email],
.form .email1 textarea {
  width: 260px;
  margin-left: 100px;
  box-sizing: border-box;
}
.form .input[type=text],
.form textarea {
  width: 500px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
