.card {
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px black;
    background-image: linear-gradient(to top, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);

}

.textocomocomprar {
    padding: 50px;
}


