.card1{
    justify-content: center;
    text-align: center;
.formulario{
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    padding: 0px
    }
    .email1{
        margin-right: 105px;
    }
}

