.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    padding: 20px;
    justify-content: center;
    border-radius: 50px;
    .caja {
        width: 300px;
        display: inline-block;
        align-items: center;
        text-align: center;
        @extend %estilos;
        background-image: linear-gradient(to bottom, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
        box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
        -webkit-box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
        -moz-box-shadow: -8px 19px 15px -8px rgba(0, 0, 0, 0.86);
        border-radius: 50px;
    
        .foto {
            display: flexbox;
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px 10px 10px 10px;
            border-radius: 50px;
    
        }
    
        .foto-torta {
            width: 200px;
            
            border-radius: 50px;
        }
    
        .listap {
            text-align: center;
        }
    
        .lista {
            text-align: center;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            padding-left: 0;
    
        }
    }
    
}

.tabla {
    width: 80%;
    border-collapse: collapse;
    position: relative;
    text-align: center;
    margin: auto;
    @extend %estilos;

    tr {
        &:hover {
            background-color: #ccc;
            cursor: pointer;
        }

        th {
            background-color: grey;
            text-align: center;
            @extend %estilos;
        }

        td {
            @extend %estilos;
            padding: 5px;

        }
    }
}