body {
    background-image: linear-gradient(to bottom, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);
    font-family: "Dancing Script";
    

}

.hr{
    margin: 20px;
}

.texto{
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    padding: 0px;
    
    
}

.tortas {
    width: 300px;
}


.h1 {
    font-size: 2rem;
}

.pp {
    text-align: center;
}

.card1 {
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px black;
    background-image: linear-gradient(to top, #f8f8f8, #faeef6, #ffe2e4, #ffdbc7, #ebdbad);

}


