.div2 {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 2rem;

    .enlace {
        font-size: 2rem;
        color: black;
        text-decoration: none;
        padding: 5px 10px 5px;
        font-family: "Dancing Script";
        margin: 10px;
    }

}
.wasap{
    width: 75px;

.whatsapp-logo {    
    position: fixed;
    bottom: 20px;
    right: 2px;

}
}